* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Merriweather Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: $bg-color;
  position: relative;
}
.display-none {
  display: none !important;
}
.translate-up {
  transform: translateY(-30rem) !important;
}
.translate-down {
  transform: translateY(3rem) !important;
}
