.contact {
  &__container {
    width: 85%;
    margin: 8rem auto;
    &--title {
      font-size: 3rem;
      font-weight: 700;
      margin: 2rem 0;
      @include respond(tab-land) {
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
      }
      @include respond(tab-port) {
        font-size: 2rem;
        letter-spacing: 0.2rem;
      }
    }
    &--container {
      display: flex;
      @include respond(phone) {
        flex-direction: column;
      }
      &--left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-right: 1rem;
        @include respond(phone) {
          padding-right: 0;
          margin-bottom: 1.5rem;
        }
        &__title {
          font-size: 3.5rem;
          font-weight: 700;
          @include respond(tab-land) {
            font-size: 3rem;
          }
          @include respond(tab-port) {
            font-size: 2.5rem;
          }
          @include respond(phone) {
            margin-bottom: 1rem;
          }
        }
        &__sub-title {
          line-height: 2rem;
          @include respond(tab-land) {
            line-height: 1.5rem;
          }
          @include respond(tab-port) {
            line-height: 1.3rem;
          }
          @include respond(phone) {
            margin-bottom: 1rem;
            line-height: 1.5rem;
          }
        }
        &__info {
          &--item {
            display: flex;
            align-items: center;
            margin: 1rem 0;
            img {
              width: 2.5rem;
              @include respond(tab-land) {
                width: 2rem;
              }
              @include respond(tab-port) {
                width: 1.5rem;
              }
            }
            a {
              margin-left: 1rem;
              font-weight: 600;
              text-decoration: none;
            }
          }
          &--social {
            display: flex;
            width: 70%;
            align-items: center;
            justify-content: space-between;
            margin: 3rem 0;
            @include respond(tab-land) {
              margin: 2rem 0;
            }
            @include respond(tab-port) {
              margin: 1.8rem 0;
            }
            @include respond(phone) {
              margin: 2rem auto;
            }
            a {
              img,
              svg {
                width: 3rem;
                cursor: pointer;
                filter: grayscale(100%);
                transition: all 0.2s;
                &:hover {
                  stroke: #000;
                  fill: #000;
                  transform: scale(1.1);
                  filter: grayscale(0);
                }
                @include respond(tab-land) {
                  width: 2.5rem;
                }
                @include respond(tab-port) {
                  width: 2rem;
                  &:hover {
                    stroke: #999;
                    filter: grayscale(100%);
                  }
                  &:active {
                    stroke: #000;
                    filter: grayscale(0);
                  }
                }
              }
            }
          }
        }
      }
      &--right {
        flex: 1;
        padding-left: 1rem;
        @include respond(phone) {
          padding-left: 0;
        }
        &__form {
          &--names {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__item {
              display: flex;
              width: 48%;
              flex-direction: column;
              label {
                font-size: 1.05rem;
                font-weight: 700;
                @include respond(tab-land) {
                  font-size: 1rem;
                }
                @include respond(tab-port) {
                  font-size: 0.8rem;
                }
              }
              input {
                width: 100%;
                font-size: 1rem;
                padding: 1.2rem 1.5rem;
                border: none;
                background-color: #f2f6f7;
                outline: none;
                margin: 1rem 0;
                @include respond(tab-land) {
                  font-size: 0.8rem;
                  padding: 1rem 1.3rem;
                  margin: 0.8rem 0;
                }
                @include respond(tab-port) {
                  font-size: 1rem;
                  padding: 0.8rem 1rem;
                  margin: 0.6rem 0;
                }
              }
            }
          }
          &--email {
            label {
              font-size: 1.05rem;
              font-weight: 700;
              @include respond(tab-land) {
                font-size: 1rem;
              }
              @include respond(tab-port) {
                font-size: 0.8rem;
              }
            }
            &__container {
              background-color: #f2f6f7;
              display: flex;
              align-items: center;
              margin: 1rem 0;
              padding: 0rem 1.5rem;
              img {
                margin-right: 1rem;
              }
              input {
                font-size: 1rem;
                border: none;
                background-color: #f2f6f7;
                outline: none;
                margin: 1rem 0;
                width: 100%;
                padding: 0.5rem 0.5rem;
              }
              @include respond(tab-land) {
                margin: 0.8rem 0;
                padding: 0 1.3rem;
                img {
                  margin-right: 0.5rem;
                }
                input {
                  padding: 0.3rem 0.3rem;
                  font-size: 0.8rem;
                }
              }
              @include respond(tab-port) {
                margin: 0.6rem 0;
                padding: 0 1rem;
                img {
                  margin-right: 0.3rem;
                  width: 1.2rem;
                }
                input {
                  padding: 0.1rem 0.1rem;
                  font-size: 1rem;
                }
              }
            }
          }
          &--message {
            display: flex;
            flex-direction: column;

            label {
              font-size: 1.05rem;
              font-weight: 700;
            }
            textarea {
              font-size: 1rem;
              border: none;
              margin: 1rem 0;
              background-color: #f2f6f7;
              outline: none;
              width: 100%;
              padding: 1rem 1.5rem;
              resize: none;
            }
            @include respond(tab-land) {
              label {
                font-size: 1rem;
              }
              textarea {
                font-size: 0.8rem;
                margin: 0.8rem 0;
                padding: 0.8rem 1.3rem;
              }
            }
            @include respond(tab-port) {
              label {
                font-size: 0.8rem;
              }
              textarea {
                font-size: 1rem;
                margin: 0.6rem 0;
                padding: 0.6rem 1rem;
              }
            }
          }
          &--btn-container {
            margin-top: 2rem;
            margin-left: 0.5rem;
            @include respond(tab-land) {
              margin-top: 1.8rem;
            }
            @include respond(tab-port) {
              margin-top: 1.5rem;
            }
          }
        }
      }
    }
  }
}
