.intro {
  display: flex;
  width: 85%;
  margin: 8rem auto;
  @include respond(tab-land) {
    align-items: center;
  }
  @include respond(phone) {
    flex-direction: column-reverse;
    align-items: center;
  }
  &__left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 2.5rem;
    @include respond(phone) {
      text-align: center;
      align-items: center;
      padding-right: 0;
    }
    &--title {
      font-size: 4.25rem;
      font-weight: 700;
      line-height: 4rem;
      margin: 1.5rem 0;
      @include respond(tab-land) {
        font-size: 3rem;
        line-height: 3rem;
        margin: 1rem 0;
      }
      @include respond(tab-port) {
        font-size: 2.5rem;
        // width: 75%;
        margin: 1.5rem auto;
      }
      span {
      }
    }
    &--sub-title {
    }
    &--btn-container {
      display: flex;
      margin: 1.5rem 0;
      @include respond(tab-land) {
        margin: 2rem 0;
      }
      @include respond(phone) {
        margin: 2.5rem auto;
      }
    }
  }
  &__right {
    flex: 1;
    img {
      width: 100%;
    }
    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }
}
