.intro {
  height: 83.5vh;
  display: flex;
  width: 85%;
  margin: 2rem auto;
  &__left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 2.5rem;
    &--title {
      font-size: 4.25rem;
      font-weight: 700;
      line-height: 4rem;
      margin: 1.5rem 0;
      span {
      }
    }
    &--sub-title {
    }
    &--btn-container {
      display: flex;
      margin: 1.5rem 0;
    }
  }
  &__right {
    flex: 1;
    border-radius: 100%;
    background-size: cover;
    background-image: url(../assets/profile-photo.jpg);
    box-shadow: 0 0 2rem 2rem $bg-color inset;
    filter: grayscale(100%);
  }
}
