.project {
  background-color: #000;
  width: 100%;
  padding: 1rem 0;
  &__container {
    width: 85%;
    margin: 5rem auto;
    &--heading {
      font-size: 3rem;
      letter-spacing: 0.4rem;
      font-weight: 700;
      @include respond(tab-land) {
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
      }
      @include respond(tab-port) {
        font-size: 2rem;
        letter-spacing: 0.2rem;
      }
    }
    &--typo {
      color: #fff;
      margin: 2rem 0;
      &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      &__sub-title {
        font-size: 1.5rem;
      }
      @include respond(tab-land) {
        margin: 1.5rem 0;
        &__title {
          font-size: 1.7rem;
          margin-bottom: 1rem;
        }
        &__sub-title {
          font-size: 1.3rem;
        }
      }
      @include respond(tab-port) {
        margin: 1.3rem 0;
        &__title {
          font-size: 1.5rem;
          margin-bottom: 0.8rem;
        }
        &__sub-title {
          font-size: 1rem;
        }
      }
    }
    &--slider {
      overflow: hidden;
      &__components {
        display: flex;
        transition: all 0.5s;
        flex-wrap: nowrap;
        align-items: center;
      }
      &__btn-container {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        &--btn {
          height: 3rem;
          width: 3rem;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          img {
          }
          @include respond(tab-port) {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
        #next {
          margin-left: 1rem;
          @include respond(tab-port) {
            margin-left: 0.8rem;
          }
        }
      }
    }
  }
}
