.section {
  margin: 8rem 0;
  &__container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    &--experience {
      flex: 1;
      padding-right: 1rem;
      &__title {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        @include respond(tab-land) {
          font-size: 2rem;
        }
        @include respond(tab-port) {
          font-size: 1.5rem;
        }
      }
      &__container {
        &--item {
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgb(212, 212, 212);
          margin: 2rem 0;
          padding-bottom: 1.5rem;
          @include respond(tab-land) {
            margin: 1.5rem 0;
            padding-bottom: 1rem;
          }
          @include respond(tab-port) {
            margin: 1.3rem 0;
            padding-bottom: 0.8rem;
          }
          &__left {
            flex: 1;
            &--title {
              font-size: 1.3rem;
              font-weight: 600;
              margin-bottom: 0.5rem;
              text-decoration: underline;
              @include respond(tab-land) {
                font-size: 1rem;
              }
            }
            &--sub-title {
              color: $clr-para;
              font-weight: 600;
              margin-bottom: 0.5rem;
              @include respond(tab-land) {
                margin-bottom: 0.3rem;
              }
              @include respond(tab-port) {
                margin-bottom: 0.1rem;
                font-size: 0.8rem;
              }
            }
            &--position {
              font-size: 1.01rem;
              font-weight: 700;
              ul {
                font-weight: 400;
                list-style-position: inside;
                color: $clr-para;
                margin: 1rem 0;
                li {
                  margin: 0.25rem 0;
                }
              }
              @include respond(tab-land) {
                font-size: 0.9rem;
                ul {
                  margin: 0.8rem 0;
                  li {
                    margin: 0.2rem 0;
                  }
                }
              }
              @include respond(tab-port) {
                font-size: 0.8rem;
                ul {
                  margin: 0.6rem 0;
                  li {
                    margin: 0.1rem 0;
                  }
                }
              }
            }
          }
          &__right {
            &--duration {
              font-size: 1.1rem;
              color: $clr-para;
              font-weight: 600;
              @include respond(tab-port) {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
    &--achievement {
      flex: 1;
      padding-left: 1rem;

      &__title {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        @include respond(tab-land) {
          font-size: 2rem;
        }
        @include respond(tab-port) {
          font-size: 1.5rem;
        }
      }
      &__container {
        &--item {
          border-bottom: 1px solid rgb(212, 212, 212);
          margin: 2rem 0;
          padding-bottom: 1.5rem;
          @include respond(tab-land) {
            margin: 1.5rem 0;
            padding-bottom: 1rem;
          }
          @include respond(tab-port) {
            margin: 1.3rem 0;
            padding-bottom: 0.8rem;
          }
          &__title {
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            text-decoration: underline;
            @include respond(tab-land) {
              font-size: 1rem;
            }
          }
          &__sub-title {
            color: $clr-para;
            font-weight: 600;
            margin-bottom: 0.5rem;
            @include respond(tab-land) {
              margin-bottom: 0.3rem;
            }
            @include respond(tab-port) {
              margin-bottom: 0.1rem;
              font-size: 0.8rem;
            }
          }
          &__position {
            font-size: 1.01rem;
            font-weight: 700;
            ul {
              font-weight: 400;
              list-style-position: inside;
              color: $clr-para;
              margin: 1rem 0;
              li {
                margin: 0.25rem 0;
              }
            }
            @include respond(tab-land) {
              font-size: 0.9rem;
              ul {
                margin: 0.8rem 0;
                li {
                  margin: 0.2rem 0;
                }
              }
            }
            @include respond(tab-port) {
              font-size: 0.8rem;
              ul {
                margin: 0.6rem 0;
                li {
                  margin: 0.1rem 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
