/*
0-600px:    Mobile-mode
600-900px:  Tablet-potrait-mode
900-1200px: Tablet-landscape-mode
[1200-1500px]------------------------------------>Desktop-mode<-------------------------
1500px+:    Big-screen-mode
------------------------------------
$breakpoint argument choices
-   phone
-   tab-port
-   tab-land
-   big-desktop
1em = 16px
*/
@keyframes move-from-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes move-from-right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Merriweather Sans", sans-serif; }

body {
  background-color: #fff; }

.display-none {
  display: none !important; }

.translate-up {
  transform: translateY(-30rem) !important; }

.translate-down {
  transform: translateY(3rem) !important; }

.para {
  font-size: 1.2rem;
  color: #666; }
  @media (max-width: 75em) {
    .para {
      font-size: 1rem; } }

.gradient-text {
  display: inline-block;
  background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  -webkit-background-clip: text;
  color: transparent; }

.menubar {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2rem;
  width: 85%;
  margin: 2rem auto; }
  .menubar__left {
    flex: 1; }
    @media (max-width: 37.5em) {
      .menubar__left {
        display: flex;
        justify-content: space-between;
        align-items: center; } }
    .menubar__left--toggle {
      width: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 3rem;
      display: none; }
      .menubar__left--toggle__bar {
        transition: all 0.2s;
        display: block;
        background-color: #000;
        height: 0.2rem;
        margin: 0.5rem 0;
        border-radius: 20px;
        width: 100%; }
      @media (max-width: 37.5em) {
        .menubar__left--toggle {
          display: initial; } }
    .menubar__left input {
      display: none; }
      .menubar__left input:checked + .menubar__left--toggle .two {
        width: 0; }
      .menubar__left input:checked + .menubar__left--toggle .one {
        transform: rotate(225deg) translate(-0.5rem, -0.5rem); }
      .menubar__left input:checked + .menubar__left--toggle .three {
        transform: rotate(-225deg) translate(-0.5rem, 0.5rem); }
  .menubar__right {
    display: flex;
    flex: 2;
    justify-content: space-evenly;
    transition: all 0.5s; }
    @media (max-width: 37.5em) {
      .menubar__right {
        position: absolute;
        background-color: white;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        border-left: 1px solid #777;
        border-bottom: 1px solid #777;
        border-right: 1px solid #777;
        transform: translateY(-30rem);
        width: 85%; } }
  .menubar--link {
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    color: #000; }
    .menubar--link:visited, .menubar--link:active {
      color: #000; }
  @media (max-width: 56.25em) {
    .menubar {
      font-size: 0.8rem; } }
  @media (max-width: 37.5em) {
    .menubar {
      flex-direction: column;
      font-size: 1.5rem; }
      .menubar--link {
        padding: 1rem 0; } }

.btn1 {
  position: relative;
  cursor: pointer;
  width: fit-content;
  display: block; }
  .btn1__org {
    position: absolute;
    transform: translate(-0.5rem, -0.5rem);
    padding: 1.25rem 1.875rem;
    background-color: #1b1b1b;
    transition: all 0.2s; }
    .btn1__org--text {
      color: white;
      font-weight: bold;
      font-size: 1.2rem; }
      @media (max-width: 56.25em) {
        .btn1__org--text {
          font-size: 1rem; } }
      @media (max-width: 37.5em) {
        .btn1__org--text {
          font-size: 0.7rem; } }
  .btn1__back {
    padding: 1.25rem 1.875rem;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%); }
    .btn1__back--text {
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      visibility: hidden; }
      @media (max-width: 56.25em) {
        .btn1__back--text {
          font-size: 1rem; } }
      @media (max-width: 37.5em) {
        .btn1__back--text {
          font-size: 0.7rem; } }
  .btn1:hover .btn1__org {
    transform: translate(0rem, 0rem); }
  @media (max-width: 56.25em) {
    .btn1:hover .btn1__org {
      transform: translate(-0.5rem, -0.5rem); }
    .btn1:active .btn1__org {
      transform: translate(0rem, 0rem); } }

.btn2 {
  padding: 1.25rem 1.875rem;
  display: flex;
  align-items: center;
  width: fit-content; }
  .btn2__text {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none; }
    .btn2__text:visited {
      color: #000; }
    @media (max-width: 56.25em) {
      .btn2__text {
        font-size: 1rem; } }
    @media (max-width: 37.5em) {
      .btn2__text {
        font-size: 0.8rem; } }
  .btn2__arrow {
    margin-left: 0.2rem;
    transition: all 0.2s; }
    .btn2__arrow img {
      width: 100%; }
  .btn2__text:hover + .btn2__arrow {
    margin-left: 0.8rem; }
  @media (max-width: 56.25em) {
    .btn2__text:hover + .btn2__arrow {
      margin-left: 0.2rem; }
    .btn2__text:active + .btn2__arrow {
      margin-left: 0.8rem; } }

.project-component {
  width: 30rem;
  margin-right: 2rem;
  background-color: #fff; }
  @media (max-width: 75em) {
    .project-component {
      width: 28rem; } }
  @media (max-width: 56.25em) {
    .project-component {
      width: 25rem; } }
  @media (max-width: 37.5em) {
    .project-component {
      width: 20rem; } }
  .project-component__header--img {
    overflow: hidden; }
    .project-component__header--img img {
      width: 30rem;
      transition: all 0.5s; }
      @media (max-width: 75em) {
        .project-component__header--img img {
          width: 28rem; } }
      @media (max-width: 56.25em) {
        .project-component__header--img img {
          width: 25rem; } }
      @media (max-width: 37.5em) {
        .project-component__header--img img {
          width: 20rem; } }
  .project-component__lower {
    padding: 1rem 1.5rem; }
    .project-component__lower--title {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 1rem; }
    .project-component__lower--btn > div {
      padding: 1rem 0; }
    @media (max-width: 75em) {
      .project-component__lower--title {
        letter-spacing: 0.1rem;
        font-size: 1rem;
        margin-bottom: 0.8rem; }
      .project-component__lower--btn > div {
        padding: 0.8rem 0; } }
    @media (max-width: 56.25em) {
      .project-component__lower--title {
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        margin-bottom: 0.6rem; }
      .project-component__lower--btn > div {
        padding: 0.6rem 0; } }
  .project-component:hover .project-component__header .project-component__header--img img {
    transform: scale(1.1) rotate(1deg);
    filter: blur(1px); }
  @media (max-width: 56.25em) {
    .project-component:hover .project-component__header .project-component__header--img img {
      transform: scale(1) rotate(0deg);
      filter: blur(0px); }
    .project-component:active .project-component__header .project-component__header--img img {
      transform: scale(1.1) rotate(1deg);
      filter: blur(1px); } }

.intro {
  display: flex;
  width: 85%;
  margin: 8rem auto; }
  @media (max-width: 75em) {
    .intro {
      align-items: center; } }
  @media (max-width: 37.5em) {
    .intro {
      flex-direction: column-reverse;
      align-items: center; } }
  .intro__left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 2.5rem;
    animation-name: move-from-left;
    animation-duration: 1s; }
    @media (max-width: 37.5em) {
      .intro__left {
        text-align: center;
        align-items: center;
        padding-right: 0; } }
    .intro__left--title {
      font-size: 4.25rem;
      font-weight: 700;
      line-height: 4rem;
      margin: 1.5rem 0; }
      @media (max-width: 75em) {
        .intro__left--title {
          font-size: 3rem;
          line-height: 3rem;
          margin: 1rem 0; } }
      @media (max-width: 56.25em) {
        .intro__left--title {
          font-size: 2.5rem;
          margin: 1.5rem auto; } }
    .intro__left--btn-container {
      display: flex;
      margin: 1.5rem 0; }
      @media (max-width: 75em) {
        .intro__left--btn-container {
          margin: 2rem 0; } }
      @media (max-width: 37.5em) {
        .intro__left--btn-container {
          margin: 2.5rem auto; } }
  .intro__right {
    flex: 1;
    animation-name: move-from-right;
    animation-duration: 1s; }
    .intro__right img {
      width: 100%; }
    @media (max-width: 37.5em) {
      .intro__right {
        margin-bottom: 3rem; } }

.about {
  width: 85%;
  margin: 8rem auto; }
  .about__heading {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    font-weight: 700; }
    @media (max-width: 75em) {
      .about__heading {
        font-size: 2.5rem;
        letter-spacing: 0.3rem; } }
    @media (max-width: 56.25em) {
      .about__heading {
        font-size: 2rem;
        letter-spacing: 0.2rem; } }
  .about__info {
    margin: 1.5rem 0; }
    @media (max-width: 56.25em) {
      .about__info {
        margin: 1rem 0; } }
  .about__lower {
    display: flex;
    margin: 5rem 0; }
    @media (max-width: 56.25em) {
      .about__lower {
        margin: 3rem 0; } }
    @media (max-width: 37.5em) {
      .about__lower {
        flex-direction: column-reverse; } }
    .about__lower--left {
      flex: 1;
      padding-right: 1rem; }
      @media (max-width: 37.5em) {
        .about__lower--left {
          padding-right: 0; } }
      .about__lower--left__heading {
        font-size: 2.5rem;
        font-weight: 700; }
        @media (max-width: 75em) {
          .about__lower--left__heading {
            font-size: 2rem; } }
        @media (max-width: 56.25em) {
          .about__lower--left__heading {
            font-size: 1.5rem; } }
        @media (max-width: 37.5em) {
          .about__lower--left__heading {
            font-size: 2rem; } }
      .about__lower--left__lower {
        margin: 1rem auto; }
        .about__lower--left__lower--item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #d4d4d4;
          padding-bottom: 1.5rem;
          margin: 2rem 0; }
          .about__lower--left__lower--item__container-1 {
            flex: 2; }
            .about__lower--left__lower--item__container-1--title {
              font-size: 1.3rem;
              font-weight: 600; }
              @media (max-width: 75em) {
                .about__lower--left__lower--item__container-1--title {
                  font-size: 1rem; } }
              @media (max-width: 56.25em) {
                .about__lower--left__lower--item__container-1--title {
                  font-size: 0.9rem; } }
              @media (max-width: 37.5em) {
                .about__lower--left__lower--item__container-1--title {
                  font-size: 1rem;
                  margin-bottom: 0.8rem; } }
            .about__lower--left__lower--item__container-1--sub-title {
              color: #666;
              font-weight: 600; }
              @media (max-width: 75em) {
                .about__lower--left__lower--item__container-1--sub-title {
                  font-size: 0.8rem; } }
          .about__lower--left__lower--item__container-2 {
            flex: 1;
            text-align: right; }
            .about__lower--left__lower--item__container-2--duration {
              font-size: 1.1rem;
              color: #666;
              font-weight: 600; }
              @media (max-width: 75em) {
                .about__lower--left__lower--item__container-2--duration {
                  font-size: 0.8rem; } }
    .about__lower--right {
      flex: 1;
      padding-left: 1rem; }
      .about__lower--right__heading {
        font-size: 2.5rem;
        font-weight: 700; }
      .about__lower--right__lower {
        margin: 2rem auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start; }
        .about__lower--right__lower--item {
          background-color: #99b3c5;
          padding: 0.5rem 1rem;
          margin: 0.5rem 0.5rem;
          border-radius: 0.5rem;
          color: #fff; }
      @media (max-width: 75em) {
        .about__lower--right__heading {
          font-size: 2rem; }
        .about__lower--right__lower--item {
          padding: 0.3rem 0.8rem;
          font-size: 0.8rem;
          margin: 0.3rem 0.3rem; } }
      @media (max-width: 56.25em) {
        .about__lower--right__heading {
          font-size: 1.5rem; }
        .about__lower--right__lower--item {
          padding: 0.2rem 0.6rem;
          font-size: 0.6rem; } }
      @media (max-width: 37.5em) {
        .about__lower--right {
          padding-left: 0;
          margin-bottom: 1rem; }
          .about__lower--right__heading {
            font-size: 2rem; }
          .about__lower--right__lower--item {
            font-size: 1rem;
            padding: 0.4rem 0.8rem; } }

.project {
  background-color: #000;
  width: 100%;
  padding: 1rem 0; }
  .project__container {
    width: 85%;
    margin: 5rem auto; }
    .project__container--heading {
      font-size: 3rem;
      letter-spacing: 0.4rem;
      font-weight: 700; }
      @media (max-width: 75em) {
        .project__container--heading {
          font-size: 2.5rem;
          letter-spacing: 0.3rem; } }
      @media (max-width: 56.25em) {
        .project__container--heading {
          font-size: 2rem;
          letter-spacing: 0.2rem; } }
    .project__container--typo {
      color: #fff;
      margin: 2rem 0; }
      .project__container--typo__title {
        font-size: 2rem;
        margin-bottom: 1rem; }
      .project__container--typo__sub-title {
        font-size: 1.5rem; }
      @media (max-width: 75em) {
        .project__container--typo {
          margin: 1.5rem 0; }
          .project__container--typo__title {
            font-size: 1.7rem;
            margin-bottom: 1rem; }
          .project__container--typo__sub-title {
            font-size: 1.3rem; } }
      @media (max-width: 56.25em) {
        .project__container--typo {
          margin: 1.3rem 0; }
          .project__container--typo__title {
            font-size: 1.5rem;
            margin-bottom: 0.8rem; }
          .project__container--typo__sub-title {
            font-size: 1rem; } }
    .project__container--slider {
      overflow: hidden; }
      .project__container--slider__components {
        display: flex;
        transition: all 0.5s;
        flex-wrap: nowrap;
        align-items: center; }
      .project__container--slider__btn-container {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end; }
        .project__container--slider__btn-container--btn {
          height: 3rem;
          width: 3rem;
          background-color: #fff;
          cursor: pointer;
          background-repeat: no-repeat;
          background-position: center; }
          @media (max-width: 56.25em) {
            .project__container--slider__btn-container--btn {
              height: 2.5rem;
              width: 2.5rem; } }
        .project__container--slider__btn-container #next {
          margin-left: 1rem;
          background-image: url(../assets/arrow-right.svg); }
          @media (max-width: 56.25em) {
            .project__container--slider__btn-container #next {
              margin-left: 0.8rem; } }
        .project__container--slider__btn-container #prev {
          background-image: url(../assets/arrow-left.svg); }

.section {
  margin: 8rem 0; }
  .section__container {
    width: 85%;
    margin: 0 auto;
    display: flex; }
    @media (max-width: 37.5em) {
      .section__container {
        flex-direction: column; } }
    .section__container--experience {
      flex: 1;
      padding-right: 1rem; }
      @media (max-width: 37.5em) {
        .section__container--experience {
          margin-bottom: 2rem; } }
      .section__container--experience__title {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 2rem; }
        @media (max-width: 75em) {
          .section__container--experience__title {
            font-size: 2rem; } }
        @media (max-width: 56.25em) {
          .section__container--experience__title {
            font-size: 1.5rem; } }
        @media (max-width: 37.5em) {
          .section__container--experience__title {
            font-size: 2rem; } }
      .section__container--experience__container--item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d4d4d4;
        margin: 2rem 0;
        padding-bottom: 1.5rem; }
        @media (max-width: 75em) {
          .section__container--experience__container--item {
            margin: 1.5rem 0;
            padding-bottom: 1rem; } }
        @media (max-width: 56.25em) {
          .section__container--experience__container--item {
            margin: 1.3rem 0;
            padding-bottom: 0.8rem; } }
        .section__container--experience__container--item__left {
          flex: 1; }
          .section__container--experience__container--item__left--title {
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            text-decoration: underline; }
            @media (max-width: 75em) {
              .section__container--experience__container--item__left--title {
                font-size: 1rem; } }
            @media (max-width: 37.5em) {
              .section__container--experience__container--item__left--title {
                font-size: 1rem;
                margin-bottom: 0.8rem; } }
          .section__container--experience__container--item__left--sub-title {
            color: #666;
            font-weight: 600;
            margin-bottom: 0.5rem; }
            @media (max-width: 75em) {
              .section__container--experience__container--item__left--sub-title {
                margin-bottom: 0.3rem; } }
            @media (max-width: 56.25em) {
              .section__container--experience__container--item__left--sub-title {
                margin-bottom: 0.1rem;
                font-size: 0.8rem; } }
          .section__container--experience__container--item__left--position {
            font-size: 1.01rem;
            font-weight: 700; }
            .section__container--experience__container--item__left--position ul {
              font-weight: 400;
              list-style-position: inside;
              color: #666;
              margin: 1rem 0; }
              .section__container--experience__container--item__left--position ul li {
                margin: 0.25rem 0; }
            @media (max-width: 75em) {
              .section__container--experience__container--item__left--position {
                font-size: 0.9rem; }
                .section__container--experience__container--item__left--position ul {
                  margin: 0.8rem 0; }
                  .section__container--experience__container--item__left--position ul li {
                    margin: 0.2rem 0; } }
            @media (max-width: 56.25em) {
              .section__container--experience__container--item__left--position {
                font-size: 0.8rem; }
                .section__container--experience__container--item__left--position ul {
                  margin: 0.6rem 0; }
                  .section__container--experience__container--item__left--position ul li {
                    margin: 0.1rem 0; } }
            @media (max-width: 37.5em) {
              .section__container--experience__container--item__left--position {
                font-size: 0.8rem; }
                .section__container--experience__container--item__left--position ul {
                  font-size: 0.7rem;
                  margin: 0.6rem 0; }
                  .section__container--experience__container--item__left--position ul li {
                    margin: 0.1rem 0; } }
        .section__container--experience__container--item__right--duration {
          font-size: 1.1rem;
          color: #666;
          font-weight: 600; }
          @media (max-width: 56.25em) {
            .section__container--experience__container--item__right--duration {
              font-size: 0.8rem; } }
          @media (max-width: 37.5em) {
            .section__container--experience__container--item__right--duration {
              font-size: 0.7rem; } }
    .section__container--achievement {
      flex: 1;
      padding-left: 1rem; }
      .section__container--achievement__title {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 2rem; }
        @media (max-width: 75em) {
          .section__container--achievement__title {
            font-size: 2rem; } }
        @media (max-width: 56.25em) {
          .section__container--achievement__title {
            font-size: 1.5rem; } }
        @media (max-width: 37.5em) {
          .section__container--achievement__title {
            font-size: 2rem; } }
      .section__container--achievement__container--item {
        border-bottom: 1px solid #d4d4d4;
        margin: 2rem 0;
        padding-bottom: 1.5rem; }
        @media (max-width: 75em) {
          .section__container--achievement__container--item {
            margin: 1.5rem 0;
            padding-bottom: 1rem; } }
        @media (max-width: 56.25em) {
          .section__container--achievement__container--item {
            margin: 1.3rem 0;
            padding-bottom: 0.8rem; } }
        .section__container--achievement__container--item__title {
          font-size: 1.3rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
          text-decoration: underline; }
          @media (max-width: 75em) {
            .section__container--achievement__container--item__title {
              font-size: 1rem; } }
          @media (max-width: 37.5em) {
            .section__container--achievement__container--item__title {
              margin-bottom: 0.8rem; } }
        .section__container--achievement__container--item__sub-title {
          color: #666;
          font-weight: 600;
          margin-bottom: 0.5rem; }
          @media (max-width: 75em) {
            .section__container--achievement__container--item__sub-title {
              margin-bottom: 0.3rem; } }
          @media (max-width: 56.25em) {
            .section__container--achievement__container--item__sub-title {
              margin-bottom: 0.1rem;
              font-size: 0.8rem; } }
        .section__container--achievement__container--item__position {
          font-size: 1.01rem;
          font-weight: 700; }
          .section__container--achievement__container--item__position ul {
            font-weight: 400;
            list-style-position: inside;
            color: #666;
            margin: 1rem 0; }
            .section__container--achievement__container--item__position ul li {
              margin: 0.25rem 0; }
          @media (max-width: 75em) {
            .section__container--achievement__container--item__position {
              font-size: 0.9rem; }
              .section__container--achievement__container--item__position ul {
                margin: 0.8rem 0; }
                .section__container--achievement__container--item__position ul li {
                  margin: 0.2rem 0; } }
          @media (max-width: 56.25em) {
            .section__container--achievement__container--item__position {
              font-size: 0.8rem; }
              .section__container--achievement__container--item__position ul {
                margin: 0.6rem 0; }
                .section__container--achievement__container--item__position ul li {
                  margin: 0.1rem 0; } }
          @media (max-width: 37.5em) {
            .section__container--achievement__container--item__position ul {
              font-size: 0.7rem; } }

.contact__container {
  width: 85%;
  margin: 8rem auto; }
  .contact__container--title {
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem 0; }
    @media (max-width: 75em) {
      .contact__container--title {
        font-size: 2.5rem;
        letter-spacing: 0.3rem; } }
    @media (max-width: 56.25em) {
      .contact__container--title {
        font-size: 2rem;
        letter-spacing: 0.2rem; } }
  .contact__container--container {
    display: flex; }
    @media (max-width: 37.5em) {
      .contact__container--container {
        flex-direction: column; } }
    .contact__container--container--left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-right: 1rem; }
      @media (max-width: 37.5em) {
        .contact__container--container--left {
          padding-right: 0;
          margin-bottom: 1.5rem; } }
      .contact__container--container--left__title {
        font-size: 3.5rem;
        font-weight: 700; }
        @media (max-width: 75em) {
          .contact__container--container--left__title {
            font-size: 3rem; } }
        @media (max-width: 56.25em) {
          .contact__container--container--left__title {
            font-size: 2.5rem; } }
        @media (max-width: 37.5em) {
          .contact__container--container--left__title {
            margin-bottom: 1rem; } }
      .contact__container--container--left__sub-title {
        line-height: 2rem; }
        @media (max-width: 75em) {
          .contact__container--container--left__sub-title {
            line-height: 1.5rem; } }
        @media (max-width: 56.25em) {
          .contact__container--container--left__sub-title {
            line-height: 1.3rem; } }
        @media (max-width: 37.5em) {
          .contact__container--container--left__sub-title {
            margin-bottom: 1rem;
            line-height: 1.5rem; } }
      .contact__container--container--left__info--item {
        display: flex;
        align-items: center;
        margin: 1rem 0; }
        .contact__container--container--left__info--item img {
          width: 2.5rem; }
          @media (max-width: 75em) {
            .contact__container--container--left__info--item img {
              width: 2rem; } }
          @media (max-width: 56.25em) {
            .contact__container--container--left__info--item img {
              width: 1.5rem; } }
        .contact__container--container--left__info--item a {
          margin-left: 1rem;
          font-weight: 600;
          text-decoration: none; }
      .contact__container--container--left__info--social {
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        margin: 3rem 0; }
        @media (max-width: 75em) {
          .contact__container--container--left__info--social {
            margin: 2rem 0; } }
        @media (max-width: 56.25em) {
          .contact__container--container--left__info--social {
            margin: 1.8rem 0; } }
        @media (max-width: 37.5em) {
          .contact__container--container--left__info--social {
            margin: 2rem auto; } }
        .contact__container--container--left__info--social a img,
        .contact__container--container--left__info--social a svg {
          width: 3rem;
          cursor: pointer;
          filter: grayscale(100%);
          transition: all 0.2s; }
          .contact__container--container--left__info--social a img:hover,
          .contact__container--container--left__info--social a svg:hover {
            stroke: #000;
            fill: #000;
            transform: scale(1.1);
            filter: grayscale(0); }
          @media (max-width: 75em) {
            .contact__container--container--left__info--social a img,
            .contact__container--container--left__info--social a svg {
              width: 2.5rem; } }
          @media (max-width: 56.25em) {
            .contact__container--container--left__info--social a img,
            .contact__container--container--left__info--social a svg {
              width: 2rem; }
              .contact__container--container--left__info--social a img:hover,
              .contact__container--container--left__info--social a svg:hover {
                stroke: #999;
                filter: grayscale(100%); }
              .contact__container--container--left__info--social a img:active,
              .contact__container--container--left__info--social a svg:active {
                stroke: #000;
                filter: grayscale(0); } }
    .contact__container--container--right {
      flex: 1;
      padding-left: 1rem; }
      @media (max-width: 37.5em) {
        .contact__container--container--right {
          padding-left: 0; } }
      .contact__container--container--right__form--names {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .contact__container--container--right__form--names__item {
          display: flex;
          width: 48%;
          flex-direction: column; }
          .contact__container--container--right__form--names__item label {
            font-size: 1.05rem;
            font-weight: 700; }
            @media (max-width: 75em) {
              .contact__container--container--right__form--names__item label {
                font-size: 1rem; } }
            @media (max-width: 56.25em) {
              .contact__container--container--right__form--names__item label {
                font-size: 0.8rem; } }
          .contact__container--container--right__form--names__item input {
            width: 100%;
            font-size: 1rem;
            padding: 1.2rem 1.5rem;
            border: none;
            background-color: #f2f6f7;
            outline: none;
            margin: 1rem 0; }
            @media (max-width: 75em) {
              .contact__container--container--right__form--names__item input {
                font-size: 0.8rem;
                padding: 1rem 1.3rem;
                margin: 0.8rem 0; } }
            @media (max-width: 56.25em) {
              .contact__container--container--right__form--names__item input {
                font-size: 1rem;
                padding: 0.8rem 1rem;
                margin: 0.6rem 0; } }
      .contact__container--container--right__form--email label {
        font-size: 1.05rem;
        font-weight: 700; }
        @media (max-width: 75em) {
          .contact__container--container--right__form--email label {
            font-size: 1rem; } }
        @media (max-width: 56.25em) {
          .contact__container--container--right__form--email label {
            font-size: 0.8rem; } }
      .contact__container--container--right__form--email__container {
        background-color: #f2f6f7;
        display: flex;
        align-items: center;
        margin: 1rem 0;
        padding: 0rem 1.5rem; }
        .contact__container--container--right__form--email__container img {
          margin-right: 1rem; }
        .contact__container--container--right__form--email__container input {
          font-size: 1rem;
          border: none;
          background-color: #f2f6f7;
          outline: none;
          margin: 1rem 0;
          width: 100%;
          padding: 0.5rem 0.5rem; }
        @media (max-width: 75em) {
          .contact__container--container--right__form--email__container {
            margin: 0.8rem 0;
            padding: 0 1.3rem; }
            .contact__container--container--right__form--email__container img {
              margin-right: 0.5rem; }
            .contact__container--container--right__form--email__container input {
              padding: 0.3rem 0.3rem;
              font-size: 0.8rem; } }
        @media (max-width: 56.25em) {
          .contact__container--container--right__form--email__container {
            margin: 0.6rem 0;
            padding: 0 1rem; }
            .contact__container--container--right__form--email__container img {
              margin-right: 0.3rem;
              width: 1.2rem; }
            .contact__container--container--right__form--email__container input {
              padding: 0.1rem 0.1rem;
              font-size: 1rem; } }
      .contact__container--container--right__form--message {
        display: flex;
        flex-direction: column; }
        .contact__container--container--right__form--message label {
          font-size: 1.05rem;
          font-weight: 700; }
        .contact__container--container--right__form--message textarea {
          font-size: 1rem;
          border: none;
          margin: 1rem 0;
          background-color: #f2f6f7;
          outline: none;
          width: 100%;
          padding: 1rem 1.5rem;
          resize: none; }
        @media (max-width: 75em) {
          .contact__container--container--right__form--message label {
            font-size: 1rem; }
          .contact__container--container--right__form--message textarea {
            font-size: 0.8rem;
            margin: 0.8rem 0;
            padding: 0.8rem 1.3rem; } }
        @media (max-width: 56.25em) {
          .contact__container--container--right__form--message label {
            font-size: 0.8rem; }
          .contact__container--container--right__form--message textarea {
            font-size: 1rem;
            margin: 0.6rem 0;
            padding: 0.6rem 1rem; } }
      .contact__container--container--right__form--btn-container {
        margin-top: 2rem;
        margin-left: 0.5rem; }
        @media (max-width: 75em) {
          .contact__container--container--right__form--btn-container {
            margin-top: 1.8rem; } }
        @media (max-width: 56.25em) {
          .contact__container--container--right__form--btn-container {
            margin-top: 1.5rem; } }

.footer {
  height: 40vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__note {
    font-size: 3rem;
    font-weight: 700; }
  @media (max-width: 56.25em) {
    .footer {
      height: 20vh; }
      .footer__note {
        font-size: 2rem; } }
  @media (max-width: 37.5em) {
    .footer {
      height: 10vh; }
      .footer__note {
        font-size: 1rem;
        width: 85%; } }
