.project-component {
  width: 30rem;
  margin-right: 2rem;
  background-color: #fff;
  &__header {
    &--img {
      overflow: hidden;
      img {
        width: 30rem;
        transition: all 0.5s;
      }
    }
  }
  &__lower {
    padding: 1rem 1.5rem;
    &--title {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    &--description {
    }
    &--btn {
      & > div {
        padding: 1rem 0;
      }
    }
  }
  &:hover &__header &__header--img img {
    transform: scale(1.1) rotate(1deg);
    filter: blur(1px);
  }
}
